<p>
  Hey <%= @receiver.name %>!
</p>
<p>
  We've turned off Slack notifications for Kudos because we couldn't find
  a Factual Slack account with the email <%= @receiver.email %>!
</p>
<p>
  If you'd like to keep Slack notifications going, please double-check that the
  email on your Slack account matches <%= @receiver.email %> and turn your Slack
  notifications back on <a href='<%= @kudos_settings_url %>'>here</a>.
<p>
  If your Slack account exists but you keep seeing this message,
  please open a ticket <a href='<%= @github_repo_url %>'>here</a>.
</p>
<p>
Thanks,<br />
Kudos Team
</p>
