<!DOCTYPE html>
<html>
  <head>
    <title>Kudos</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
      <nav class="navbar navbar-default">
      <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <button class="btn login btn-primary">
            <%= link_to "Sign out", logout_path, id: "sign_out" %>
          </button>
          <% if current_user.avatar %>
            <img width='60' src="<%= current_user.avatar %>" alt="avatar" />
          <% end %>
      <% else %>
        <button class="btn login btn-primary">
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        </button>
      <% end %>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
